<div class="container">
    <div class="card mb-3 shadow ">
      <div class="row g-0">
        <div class="col-md-6" id="mapa">
          
          <!-- Agm funciona a través de Inputs y de Outputs -->
            <!-- De hecho, si miramos en la documentación lo vemos: https://angular-maps.com/api-docs/agm-core/components/agmmap -->

              <!-- Latitude y longitude son propiedades que están dentro de agm-map. Por lo tanto no podemos cambiarles el nombre. Así, son propiedades que se llenan de lo que yo les paso. -->
                <!-- La exclamación significa: "No te preocupes que no va a venir undefined" -->
                  <!-- Solo con este código no se ve el mapa. Tenemos que darle estilos para que se vea (lo hacemos en el CSS) -->

              <!-- Zoom: otra de las propiedades que tiene. -->
                <!-- Zoom = 30 te enfoca la alcantarilla prácticamente. -->

              <!-- Styles: otra propiedad -->

          <agm-map [latitude]="miCasa?.lat!" [longitude]="miCasa?.long!" [zoom]="12" [mapTypeId]="'satellite'">
            <agm-marker [latitude]="miCasa?.lat!" [longitude]="miCasa?.long!"></agm-marker>
          </agm-map>

        </div>
        <div class="col-md-6">
          <div class="card-body">
            <figure>
              <img class="img-fluid" [src]="miCasa?.foto">
            </figure>
            <h3 class="card-title">{{miCasa?.titulo}}</h3>
            <p class="card-text"><strong>Dirección: </strong>{{ miCasa?.direccion }}</p>
            <p class="card-text"><strong>Ciudad: </strong>{{ miCasa?.ciudad }}</p>
            <p class="card-text"><strong>Número de habitaciones: </strong>{{ miCasa?.numerohabitaciones }}</p>
            <p class="card-text"><small class="text-muted">{{miCasa?.propietario }}</small></p>
          </div>
        </div>
      </div>
    </div>
  </div>